.row.dialog
  .col-sm-4.col-sm-offset-4
    .well
      %h2.text-center Welcome Back!
      = form_tag "/auth/identity/callback" do
        .form-group
          = label_tag :auth_key, "Email"
          = text_field_tag :auth_key, nil, class: 'form-control'
        .form-group
          = label_tag :password
          = password_field_tag :password, nil, class: 'form-control'
        .action.text-center    
          = submit_tag "Login", class: 'btn btn-primary login'
          = link_to "I forgot my password", new_password_reset_path