.row.dialog
  .col-sm-4.col-sm-offset-4
    .well
      %h2.text-center Reset sent.
      %p.text-center Help is on it's way!
      .action.text-center    
        = link_to "Take me home", "/", class: 'btn btn-primary login'
