.row.dialog
  .col-sm-4.col-sm-offset-4
    .well
      %h2.text-center Oopsie!
      %p.text-center Let's reset that password.
      = render partial: 'shared/flash'            
      = form_tag password_reset_path do
        .form-group
          = label_tag :email, "Email"
          = text_field_tag :email, nil, class: 'form-control'
        .action.text-center    
          = submit_tag "Send me a reset e-mail!", class: 'btn btn-primary login'
