<h1>Password Reset</h1>
<p>
  Forgot your password? No problem! Just click the link below
  and we'll let you set a new one.
</p>
<p>
  <%= link_to "Click here to reset your password.", new_password_url(t: @user.password_reset_token) %>
</p>
<p>
- The Sure Address Team
</p>
