Hello <%= @user.name %>,
<br/>
We just automatically topped up your Sure Address account. This means you'll
continue to have credits to access our address verification service. You can
control the recharge settings right on your dash, under the "Payments" 
option.
<br/>
<br/>
Plan Name: <b><%= @plan_name %></b>
<br/>
Amount charged: <b>$<%= Money.new(@recharge_fee_cents) %></b>
<br/>
Credits added to your account: <b><%= @recharge_credits %></b>
<br/>
<br/>
Don't hesitate to contact us at support@sureaddress.io with any questions!
<br/>
<br/>
Thanks,
<br/>
The Sure Address Team

