- new_auth_token = current_user.generate_new_token
#addToken.modal.fade
  .modal-dialog
    .modal-content
      = form_tag auth_tokens_path, { class: 'form-horizonal' } do
        .modal-header
          %button{ type: "button", class: "close", data: {dismiss: "modal"} }
            %span
              = fa_icon 'times'
          %h4 Add an API Token
        .modal-body
          .form-group
            = label_tag 'API Token', nil, class: 'control-label col-sm-3'
            .col-sm-9
              %p.form-control-static= new_auth_token
          .form-group
            = label_tag :description, 'Description', class: 'control-label col-sm-3'
            .col-sm-9
              = hidden_field_tag :new_auth_token, new_auth_token 
              = text_field_tag :description, nil, class: 'form-control'
        .modal-footer
          %button{ type: "button", class: "btn btn-default", data: {dismiss: "modal"}} Cancel
          %button{ type: "submit", class: "btn btn-primary" } Save changes