%script{ src: "https://checkout.stripe.com/checkout.js" }

.panel.panel-default
  .panel-heading
    Billing
  .panel-body
    .billing
      - if current_user.has_payment_source?
        %fieldset
          %legend Current card details
          %dl
            %dt Card Number
            %dd **** **** **** #{current_user.card_last4} (#{current_user.card_brand})
            %dt Card Expiration
            %dd #{current_user.card_exp_month} / #{current_user.card_exp_year}
          .card    
            %button#card{ class: 'btn btn-primary' }
              Change credit card
            = link_to "Remove Credit Card", payment_source_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
      - else  
        You currently do not have a payment source on file. 
        %button#card{ class: 'btn btn-primary' }
          Add a credit card
      %fieldset
        %legend Payment History
        - if current_user.payments.present?
          %table.table.table-condensed
            %thead
              %tr
                %th Date
                %th Description
                %th Amount
                %th Credits
            %tbody#payments
              = render @payments
          #paginator
            = paginate @payments, remote: true, theme: 'bootstrap3'
        - else
          No payments.
          
:coffeescript
  handler = StripeCheckout.configure(
    key: 'pk_test_ueEB0FHAsf8AMIwRkOvBlQE9'
    email: '#{current_user.email}'
    panelLabel: 'Save Payment Source'   
    token: (token,args)->
      $.post(
        '#{payment_source_path}'
        token: token
        (data, textStatus, jqXHR)->
          console.log("success")
        (jqXHR, textStatus, errorThrown)->
          console.log("failed: " + textStatus)
      )
  )

  $('button#card').on 'click', (e)->
    handler.open(
      name: 'Sure Address'
    )
    e.preventDefault()

  $(window).on 'popstate', ()->
    handler.close()
