#changePlan.modal.fade
  .modal-dialog
    .modal-content
      = form_for current_user, { class: 'form-horizontal', method: :patch } do |f|
        = f.hidden_field :plan_id
        .modal-header
          %button{ type: "button", class: "close", data: {dismiss: "modal"} }
            %span
              = fa_icon 'times'
          %h4 Confirm Recharge Plan Change
        .modal-body
          %p
            Changing to plan:
            %b.new-recharge-plan
          %p
            Your credit card will be charged
            %b.new-recharge-plan-fee
            and
            %b.new-recharge-plan-credits
            credits will be added to your account            
            when your balance drops down to
            %span.new-recharge-plan-threshold
            credits remaining.            
        .modal-footer
          %button{ type: "button", class: "btn btn-default", data: {dismiss: "modal"}} Cancel
          %button{ type: "submit", class: "btn btn-primary" } Change Recharge Plans

:coffeescript
  $('#changePlan').on('show.bs.modal', (e)->
    button = $(e.relatedTarget)
    $('#changePlan input#user_plan_id').val button.data('id')
    $('#changePlan .new-recharge-plan').html button.data('short-description')
    $('#changePlan .new-recharge-plan-fee').html( '$' + button.data('recharge-fee-cents')/100.0 )
    $('#changePlan .new-recharge-plan-threshold').html button.data('recharge-threshold')
    $('#changePlan .new-recharge-plan-credits').html button.data('recharge-credits')
  )