.panel.panel-default
  .panel-heading
    Test Console
  .panel-body
    .console
      .row
        .col-sm-10.col-sm-offset-1
          = form_tag demo_result_path, class: 'form-horizontal', id: 'console' do
            .form-group
              = label_tag :street, "Delivery Line 1", class: 'col-sm-3'
              .col-sm-9
                = text_field_tag :street, params[:street], class: 'form-control input-sm'
            .form-group
              = label_tag :street2, "Delivery Line 2", class: 'col-sm-3'
              .col-sm-9
                = text_field_tag :street2, params[:street2], class: 'form-control input-sm'
            .form-group
              = label_tag :city, "City", class: 'col-sm-3'
              .col-sm-9
                = text_field_tag :city, params[:city], class: 'form-control input-sm'
            .form-group
              = label_tag :state, "State", class: 'col-sm-3'
              .col-sm-9
                = select_tag :state, options_for_select(State::ABBREVIATIONS), include_blank: true, class: 'form-control input-sm'
            .form-group
              = label_tag :zipcode, "ZIP Code", class: 'col-sm-3'
              .col-sm-9
                = text_field_tag :zipcode, params[:zipcode], class: 'form-control input-sm'

            .form-group
              .text-center
                = submit_tag 'Validate', class: 'btn btn-primary'
    
      .row
        .col-sm-12
          #results
            
:coffeescript
  $ ->
    hljs.initHighlightingOnLoad()
    $('form#console').on 'submit', (e)->
      $('#results').html('Querying...')
      e.preventDefault()
      data = {}
      $('form#console input,select').each( ()->
        data[$(this).attr('name')] = $(this).val()
      )
      $.ajax
        url: '#{demo_result_path(format: :json)}'
        authenticity_token: $('meta[name="csrf-token"]').attr('content')
        type: 'POST'
        data: data
        success: (data, textStatus, xhr)->
          console.log "Data: " + data
          if data.length == 0
            $('#results').html('No results found.')
          else          
            hasMap = data[0].metadata.latitude != 0
            result = HandlebarsTemplates['demo_results/create']({top: data[0], results: data, hasMap: hasMap})
            $('#results').html(result)
        error: (xhr, textStatus, errorThrown) ->
          $('#results').html('Unexpected error occurred.')
          console.log "Got an error " + textStatus + ", " + errorThrown

    $('#raw-result').on 'show.bs.modal', (e)->
      console.log('opening')
      clicked = $(e.relatedTarget)
      raw = clicked.data('raw')
      modal = $(this)
      modal.find('.modal-content #json-output').html(JSON.stringify(raw, null, 2))      