#curl-command.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        cURL command
      .modal-body
        %pre
          %code.bash
            #curl-command
              :plain
                curl -H "X-SA-Auth-Id: <your ID> \
                     -H "X-SA-Auth-Token: <your Token> \
                     -H "Accept: application/json" \
                     -H "Content-type: application/json" \
                     -d '{"street":"STREET", "street2":"STREET2", "city":"CITY", "state":"STATE", "zipcode":"ZIPCODE"}' \
                     http://localhost:3000/address-query
