.panel.panel-default
  .panel-heading
    Account Overview
  .panel-body
    .account-overview
      %fieldset
        %legend Usage
        .row
          .col-sm-5.credits-remaining
            .well
              Credits Remaining
              .count= number_with_delimiter(current_user.credits_remaining.value)
              .progress
                .progress-bar.progress-bar-danger{ style: 'width: 10%' }
                .progress-bar{ style: 'width: 60%' }
              .recharge              
                - if current_user.recharge_threshold.value
                  Auto-Recharges at <b>#{number_with_delimiter(current_user.recharge_threshold.value)}</b> credits
                .plan                 
                  = link_to "Change Recharge Plan", "#plan"
          .col-sm-7
            .text-center
              7-day Usage
            #chart-container{ style: 'width: 100%, height: 200px' }

      %fieldset
        %legend Authorization    
        .auth-id          
          .row
            .col-sm-12
              %b API Authorization ID
          .row      
            .col-sm-12.auth-id= current_user.id
        .auth-tokens        
          .row
            .col-sm-12
              %b API Authorization Tokens
              %table.tokens.table-condensed.table
                - current_user.auth_tokens.each do |token|
                  %tr
                    %td.token= token
                    %td.description
                      %i= token_description(current_user, token)
                    %td.delete
                      = link_to "Delete",
                        auth_token_path(token),
                        method: :delete,
                        class: 'btn btn-xs btn-danger',
                        data: {confirm: "Delete authorization token #{token} (#{token_description(current_user, token)})?"}
        .row
          .col-sm-12
            %button{ class: 'btn btn-sm btn-default', data: {toggle: "modal", target: "#addToken"}}
              = fa_icon 'plus'
              Add another authorization token
        
:coffeescript
  $ ->
    $('#chart-container').highcharts(
      chart:
        height: 150
        type: 'column'
      colors: ['#00B5B5','#F1654C']
      legend:
        enabled: false
      title:
        text: null
      xAxis:
        categories: #{@history.map(&:first)}
      yAxis:
        title:
          text: 'Requests'
      series: [{
          name: 'Requests'
          data: #{@history.map(&:last)}
        }]
    )