- current_plan = current_user.plan
.panel.panel-default
  .panel-heading
    Recharge Plan
  .panel-body
    .plan
      - if current_user.has_payment_source?
        .row
          .col-sm-12
            Your current recharge plan is the <b>#{current_plan.short_description}</b> plan.
            It will automatically add <b>#{number_with_delimiter current_plan.recharge_credits}</b>
            credits to your account when your credit balance reaches <b>#{current_plan.recharge_threshold}</b>
            credits, and <b>$#{current_plan.recharge_fee} will be billed to your credit card</b>.
      - else
        .row
          .col-sm-12
            .alert.alert-warning
              Before you can sign up for an automatic recharge plan, you'll need to set up
              a credit card on your account. Head over to <a onclick="$('a.billing-link').trigger('click');">the Billing Tab</a>
              to do that first.
      .row
        .col-sm-12
          %table
            %tr
              - Plan.visible_to_users.order(:recharge_fee_cents).each do |plan|
                %td{ class: "#{plan == current_plan ? 'current' : 'not-current'}" }
                  .thumbnail
                    .caption
                      %h3= plan.short_description
                      %p= plan.description
                      .select
                        - if plan == current_user.plan
                          %b
                            = fa_icon 'check'
                            Your current plan
                        - else
                          - if current_user.has_payment_source?
                            %button.btn.btn-primary{ data: { toggle: 'modal', target: '#changePlan' }.merge(plan.attributes) }
                              Select
                          - else
                            &nbsp;
                            
      .row
        .col-sm-12
          %legend How Recharge Plans Work
          %p
            Payment for API usage is based on credits. Each API invocation costs
            one credit. When your account reaches its recharge threshold, it will
            automatically be "recharged" by billing your credit card for a new
            set of credits.
          %p
            The price of each individual credit varies based on how many credits
            you recharge at a time. The bigger the recharge, the bigger the discount!

= render partial: 'change_plan'            