%h1 New Account
  
= form_tag "/auth/identity/register" do
  - if @identity && @identity.errors.any?
    .alert.alert-danger
      %h2 #{pluralize(@identity.errors.count, "error")} prohibited this account from being saved:
      %ul
        - @identity.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = label_tag 'Name', :name
    = text_field_tag :name, @identity.try(:user).try(:name), class: 'form-control'
  .form-group    
    = label_tag 'E-mail address', :email
    = text_field_tag :email, @identity.try(:email), class: 'form-control'
  .form-group
    = label_tag :password
    = password_field_tag :password, nil, class: 'form-control'
  .form-group    
    = label_tag :password_confirmation
    = password_field_tag :password_confirmation, nil, class: 'form-control'
  .actions
    = submit_tag "Register", class: 'btn btn-primary'
