
= render partial: 'shared/navbar'  
= render partial: 'shared/flash'      
      
.row
  .col-sm-3
    .tabpanel
      %ul.nav.nav-pills.nav-stacked#tabs
        %li.active= link_to 'Overview', '#overview', data: { toggle: 'tab' }
        %li= link_to 'Billing', '#billing', data: { toggle: 'tab' }, class: 'billing-link'
        %li= link_to 'Recharge Plan', '#plan', data: { toggle: 'tab' }
        %li= link_to 'Test console', '#console', data: { toggle: 'tab' }
        %li= link_to 'Get Help', '#help', data: { toggle: 'tab' }      
  .col-sm-9
    .tab-content
      #overview.tab-pane.active
        = render partial: "overview"
      #billing.tab-pane
        = render partial: "billing"
      #plan.tab-pane
        = render partial: "plan" 
      #console.tab-pane
        = render partial: "console"
      #help.tab-pane
        = render partial: "help"

= render 'add_token'
= render 'raw_result'
= render 'curl_command'

:coffeescript
  $ ->
    $('#tabs a').click (e)->
      e.preventDefault()
      $(this).tab('show')

    $("ul.nav-pills > li > a").on "shown.bs.tab", (e)->
      e.preventDefault()
      id = $(e.target).attr("href").substr(1)
      window.location.hash = '!' + id

    hash = '#' + window.location.hash.substr(2);
    $('#tabs a[href="' + hash + '"]').trigger 'click'