- if flash[:notice]
  .alert.alert-success.alert-dismissable.fade.in
    %button.close{ type: "button", data:{dismiss: "alert"}}
      = fa_icon 'times'
    = flash[:notice]
- if flash[:error]
  .alert.alert-danger.alert-dismissable.fade.in
    %button.close{ type: "button", data:{dismiss: "alert"}}
      = fa_icon 'times'    
    = flash[:error]
