%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: "button", data: {toggle: "collapse", target: "#bs-example-navbar-collapse-1"} }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Sure Address", user_path(current_user), class: 'navbar-brand'

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a{ href: "#", class: "dropdown-toggle", data: {toggle: "dropdown"}}
            = current_user.email
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "Change Password", edit_password_path
            %li
              = link_to "Sign out", logout_path
