.row.dialog
  .col-sm-4.col-sm-offset-4
    .well
      %h2.text-center Change password
      = render partial: 'shared/flash'      
      = form_tag password_path, method: :put do
        .form-group
          = label_tag :current_password, "Current Password"
          = password_field_tag :current_password, nil, class: 'form-control'        
        .form-group
          = label_tag :password, "New Password"
          = password_field_tag :password, nil, class: 'form-control'
        .form-group
          = label_tag :confirm_password, "Confirm New Password"
          = password_field_tag :confirm_password, nil, class: 'form-control'
        .action.text-center
          = submit_tag "Save new password", class: 'btn btn-primary login'
