.row.dialog
  .col-sm-4.col-sm-offset-4
    .well
      %h2.text-center Choose a new password
      = render partial: 'shared/flash'      
      = form_tag password_path, method: :put do
        = hidden_field_tag :password_reset_token, params[:t]
        .form-group
          = label_tag :password, "Password"
          = password_field_tag :password, nil, class: 'form-control'
        .form-group
          = label_tag :confirm_password, "Confirm Password"
          = password_field_tag :confirm_password, nil, class: 'form-control'
        .action.text-center
          = submit_tag "Save new password", class: 'btn btn-primary login'
