// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//= require font-awesome

// The color scheme we are using is here:
// http://www.colourlovers.com/palette/2819973/My_CrazyFlat_UI

//== SureAddress Color Theme
$sa-dark-gray: #3E4651;
$sa-darker-gray: #3D4651;
$sa-red: #F1654C;
$sa-aqua: #00B5B5;
$sa-light-gray: #D4D4D4;
$sa-navy-blue: #1A2646;

@import "bootstrap-customization";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "users";
@import "sessions";
@import "passwords";
@import "password_resets";
@import "home";

@import "vendor/highlightjs/default.css";

.alert {
  margin-top: 10px;
}

@font-face {
  font-family: 'LatinModernRomanSlant';
  src: url('/assets/latinmodernromanslanted_10regular_macroman/lmromanslant10-regular-webfont.eot');
  src: url('/assets/latinmodernromanslanted_10regular_macroman/lmromanslant10-regular-webfont.eot?iefix') format('eot'),
       url('/assets/latinmodernromanslanted_10regular_macroman/lmromanslant10-regular-webfont.woff') format('woff'),
       url('/assets/latinmodernromanslanted_10regular_macroman/lmromanslant10-regular-webfont.ttf') format('truetype'),
       url('/assets/latinmodernromanslanted_10regular_macroman/lmromanslant10-regular-webfont.svg#webfont') format('svg');
}