// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.home.index {
  nav.navbar-default {
    background-color: transparent;
    border: 0;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    .navbar-btn {
      margin-right: 10px;
    }
    .navbar-brand a {
      color: #fff;
    }
    a.navbar-link {
      color: #fff;
    }
  }

  .hero {
    background-size: cover;
    background-image: image-url(/assets/buildings-hero.jpg);
    color: #fff;
    height: 500px;
    margin-top: -20px;
    text-align: center;
    width: 100%;
    h1 {
      font-size: 54px;
      margin-bottom: 0;
      text-shadow: 0 0 12px rgb(96,96,96);
    }
    h2 {
      font-family: 'LatinModernRomanSlant';
      font-size: 24px;
      margin-top: 0;
      text-shadow: 0 0 8px rgb(96,96,96);
    }
    .demo {
      margin-top: 25px;
      form {
        #street {
          width: 225px;
        }
        #city {
          width: 200px;
        }
        #state {
          width: 140px;
        }
        #zipcode {
          width: 140px;
        }
      }
    }
  }

  .why {
    background-color: $sa-aqua;
    color: #fff;
    min-height: 250px;
    padding-bottom: 30px;
    padding-top: 10px;
    width: 100%;
    h3 {
      font-size: 26px;
      margin: 30px 0 5px;
    }
    p {
      font-family: 'LatinModernRomanSlant';
      font-size: 20px;
      margin-left: 28px;
    }
    a {
      color: #fff;
    }
  }

  .try {
    background-color: #ddd;
    color: $sa-darker-gray;
    min-height: 200px;
    padding-top: 10px;
    text-align: center;
    h3 {
      font-size: 36px;
    }
    .cta.signup {
      margin-top: 30px;
    }
  }

  .footer {
    background-color: $sa-navy-blue;
    min-height: 300px;
  }
}