// Place all the styles related to the password controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.passwords {
  .dialog {        
    margin-top: 40px;
    input.login {
      margin-right: 20px
    }
  }
}

