// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.password_resets {
  .dialog {        
    margin-top: 40px;
    input.login {
      margin-right: 20px
    }
  }
}
