// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.users {  
  .tab-pane {
    .panel-body {
      font-size: 1.2em;

      .account-overview {
        .credits-remaining {
          .well {
            height: 180px;
            .count {
              font-size: 1.4em;
              font-weight: bold;              
            }
            .recharge {
              font-size: 0.8em;
              margin-top: -10px                
            }
          }
        }
        .auth-id {
          font-size: 13px;
        }
        .auth-tokens {
          font-size: 13px;
          margin-bottom: 10px;
          margin-top: 10px;
        }
        table.tokens {
          width: 100%;
          td.token {
            min-width: 275px;
            padding-left: 0;
          }
        }
    
        #addToken {
          .modal-body {
            min-height: 100px;
          }
        }
      }


      .billing {
        .card {
          margin-bottom: 30px;
        }
      }

      .plan {
        table {
          width: 100%;
          td {
            padding: 15px;
            .select {
              font-size: 14px;
              height: 40px;
              text-align: center;
            }
            &.current {
              .thumbnail {
                background-color: #fff;
              }
            }
          }
        }
      }

      .console {
        .top-raw {
          margin-top: 10px;
        }
        .no-coordinates {
          img {
            height: 75px;
          }
          p {
            color: #000;
            margin-top: 10px;
          }
        }
        .all-results {
          margin-top: 10px;
        }
      }
    }
  }
}    