.row
  .col-sm-10.col-sm-offset-1
    = form_tag demo_result_path, class: 'form-horizontal' do
      .form-group
        = label_tag :addressee, "Addressee", class: 'col-sm-2'
        .col-sm-10
          = text_field_tag :addressee, params[:addressee], class: 'form-control'
      .form-group
        = label_tag :street, "Delivery Line 1", class: 'col-sm-2'
        .col-sm-10
          = text_field_tag :street, params[:street], class: 'form-control'
      .form-group
        = label_tag :street2, "Delivery Line 2", class: 'col-sm-2'
        .col-sm-10
          = text_field_tag :street2, params[:street2], class: 'form-control'
      .form-group
        = label_tag :secondary, "Secondary", class: 'col-sm-2'
        .col-sm-10
          = text_field_tag :secondary, params[:secondary], class: 'form-control'
      .form-group
        = label_tag :city, "City", class: 'col-sm-2'
        .col-sm-10
          = text_field_tag :city, params[:city], class: 'form-control'
      .form-group
        = label_tag :state, "State", class: 'col-sm-2'
        .col-sm-10
          = text_field_tag :state, params[:state], class: 'form-control'
      .form-group
        = label_tag :zipcode, "ZIP Code", class: 'col-sm-2'
        .col-sm-10
          = text_field_tag :zipcode, params[:zipcode], class: 'form-control'
        
      .form-group
        = submit_tag 'Search', class: 'btn btn-primary'
    