%h4 Results
%table.table
  %thead
    %tr
      %th Addressee
      %th Delivery Line 1
      %th Delivery Line 2
      %th Last Line
      %th Primary Number
      %th Street Name
      %th Street Suffix
      %th City Name
      %th State Abbreviation
      %th ZIP code
      %th Plus4 Code
      %th Update Key
  %tbody
    - results.each do |result|
      %tr
        %td= result[:addressee]
        %td= result[:delivery_line_1]
        %td= result[:delivery_line_2]
        %td= result[:last_line]
        %td= result[:components][:primary_number]
        %td= result[:components][:street_name]
        %td= result[:components][:street_suffix]
        %td= result[:components][:city_name]
        %td= result[:components][:state_abbreviation]
        %td= result[:components][:zipcode]
        %td= result[:components][:plus4_code]
        %td= result[:metadata][:key]

%h4 Query
%pre.raw
  = @query.to_query
  
%h4 Raw
%pre.raw        
  = @results
