!!!
%html
  %head
    %title Sure Address
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{ href: '//fonts.googleapis.com/css?family=Raleway:400,300,500,600,700', rel: 'stylesheet', type: 'text/css' }
    %link{ href: '//fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic', rel: 'stylesheet', type: 'text/css' }
    = csrf_meta_tags
  %body{ class: [params[:controller].split('/'), params[:action], @custom_body_class].flatten }
    .container.main         
      = yield  
